.test-letter {
  font-size: 17px;
  line-height: 14px;
}

.test-letter-correct {
  color: rgb(5, 197, 5);
}
.test-letter-incorrect {
  color: rgb(255, 8, 8);
}
.test-letter-not-attempted {
  color: rgb(245, 149, 6);
}
