.landing-container {
  display: flex;
  min-height: 90vh;
  justify-content: space-between;
  align-items: center;
  color: #eee2ee;
  padding: 0 32px;
  font-family: "Bangers", cursive;
  margin: 0;
  flex-wrap: wrap;
}

.landing-header {
  font-size: 60px;
  letter-spacing: 2px;
  margin: 0;
}

.typewriter-container {
  font-size: 54px;
  letter-spacing: 4px;
}

.xlr8-image {
  width: 30vw;
}

@media (min-width: 800px) and (max-width: 1090px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
  }
  .xlr8-image {
    width: 50vw;
  }
}

@media (max-width: 800px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
  }
  .xlr8-image {
    width: 60vw;
  }
  .landing-header {
    margin-top: 32px;
    text-align: center;
  }
  .typewriter-container {
    text-align: center;
  }
}
