.test-container {
  background-color: #fff;
  margin: 64px 5%;
  width: 90%;
  /* margin-left: 10%; */
  min-height: 750px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 1px 3px #00000052, 0 1px 2px rgba(0, 0, 0, 0.26);
}

.try-again-cont {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.typing-challenge-cont{
  display: flex;
  flex-grow: 1;
}